<!DOCTYPE html>
<html>
	<head>
        <title>Aling Nena - About</title>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css"/>

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/cover.css">
	</head>
    
    <body>
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand">A.N.</h3>
                  <ul class="nav masthead-nav">
                    <li><a href="home">Home</a></li>
                    <li class="active"><a href="about">About</a></li>
                    <li><a href="products">Products</a></li>
                  </ul>
                </div>
                    <div id ="title">
                        <img src="/pics/banner.png">
                    </div>
            
                    <div class="Text">
                        ALING NENA's is a Filipino quick service seafood grill establishment operating in major shopping centers in Metro Manila.
                    </div>
                    <br>
                    <div class="Text">
                        Owned and operated by Aling Nena Fastfood Corporation, ALING NENA’s first outlet opened in SM Tagaytay Food Court in 1994, offering native tuna specialties from Davao City, popular for its grilled tuna belly, grilled tuna panga (jaw), crispy tuna buntot (tail) and other seafood dishes.
                    </div>
                    <br>
                    <div class="Text">
                        Today, ALING NENA's is a premium brand in grilled seafood and other native dishes with a wide array of menu items that include sought-after specials such as its Sinigang na Ulo ng Maya-maya, Ulo ng Salmon, Tuna Panga, and Tiyan ng Bangus as well as its line of Sizzling Sisig that includes Tuna, Pork, Squid and Bangus. While its seafood specialties are among the store’s top-sellers, its loyal patrons also go for its Chicken Inasal (original Bacolod Manokan Country recipe), Liempo and Pork Chop Inihaw.
                    </div>
                    <br> 
                    <div class="Text">
                        By operating in major food courts and offering these top seafood specialties at affordable prices, ALING NENA's has been able to reach out to more and more Filipinos who love seafood, who are health-conscious, and who want the best value for their money.
                    </div>
              </div>
            </div>
          </div>
        </div>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/docs.min.js"></script>
	</body>
</html>
